body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(180deg, #0b0f1a, #111827);
  color: white;
  text-align: center;
}

.app {
  padding: 20px;
}

.title {
  font-size: 26px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.energy-bar {
  width: 90%;
  height: 10px;
  background: #222;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

#energyFill {
  height: 100%;
  background: linear-gradient(90deg, cyan, #00ff9d);
  width: 0%;
}

.tap-btn {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #00ffaa, #007f5f);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

button {
  margin: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffc107;
  font-weight: bold;
}
