body {
  background: #0b132b;
  color: #fff;
  text-align: center;
  font-family: Arial;
}

#tapBtn {
  width: 220px;
  height: 220px;
  margin: 40px auto;
  border-radius: 50%;
  background: radial-gradient(circle, #2ecc71, #27ae60);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px rgba(46,204,113,0.8);
  cursor: pointer;
}

#tapBtn img {
  width: 120px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: #00c6ff;
  color: #000;
  font-size: 16px;
  margin-top: 20px;
}
