body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

.tap-btn {
  background: #22c55e;
  color: black;
  padding: 15px;
  width: 100%;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  margin: 20px 0;
}

.menu button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
}

body {
  background: #0e1621;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.arena {
  margin-top: 20px;
}

.fighter {
  width: 150px;
  margin: 10px auto;
}

.bar {
  width: 80%;
  height: 18px;
  background: #333;
  border-radius: 10px;
  margin: 8px auto;
}

.hp {
  height: 100%;
  background: #00ff6a;
  border-radius: 10px;
  width: 100%;
  transition: 0.3s;
}

button {
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 18px;
  background: #1db954;
  color: white;
  border: none;
  border-radius: 10px;
}
