body {
  background: #0e1625;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.arena {
  max-width: 360px;
  margin: auto;
  padding-top: 20px;
}

.enemy-box, .player-box {
  margin: 20px 0;
}

.enemy-box img,
.player-box img {
  width: 160px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.hp-bar {
  width: 100%;
  height: 16px;
  background: #333;
  border-radius: 10px;
  margin-top: 6px;
  overflow: hidden;
}

.hp {
  height: 100%;
  background: linear-gradient(to right, #00ff88, #00cc66);
  width: 100%;
  transition: width 0.3s;
}

.attack-btn {
  margin-top: 20px;
  padding: 14px 40px;
  border: none;
  border-radius: 12px;
  background: #2ecc71;
  color: white;
  font-size: 18px;
}
