body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

#tap {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  border-radius: 50%;
  background: radial-gradient(circle, #22c55e, #15803d);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 40px #22c55e;
}

#tap:active {
  transform: scale(0.95);
}
