body {
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.arena {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.fighter img {
  width: 120px;
  transition: 0.2s;
}

.hit {
  transform: scale(1.1) rotate(-5deg);
}

.bar {
  width: 120px;
  height: 14px;
  background: #333;
  border-radius: 10px;
  margin-top: 5px;
}

.hp {
  height: 100%;
  background: lime;
  border-radius: 10px;
}

button {
  margin-top: 40px;
  padding: 15px 40px;
  font-size: 18px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
}
